<!-- Content -->
<div class="content">
    <!-- <div class="table">  -->
    <div class="data-table">
        <div class="table-header">
            <div class="table-row">
                <div>No.</div>
                <div>Task Name</div>
                <div>Description</div>
                <div>Due Date</div>
                <div>Status</div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row">
                <div>1.</div>
                <div>67</div>
                <div>67 is a lucky number in certain number theory sequences</div>
                <div>2025-06-07</div>
                <div>
                    <input type="checkbox" name="vehicle2" value="Car">
                </div>
            </div>
            <div class="table-row">
                <div>2.</div>
                <div>67</div>
                <div>67 is a prime number, meaning it's only divisible by 1 and itself</div>
                <div>2023-04-09</div>
                <div>
                    <input type="checkbox" name="vehicle2" value="Car">
                </div>
            </div>
            <div class="table-row">
                <div>3.</div>
                <div>67</div>
                <div>67 is an irregular prime</div>
                <div>2023-04-06</div>
                <div>
                    <input type="checkbox" name="vehicle2" value="Car">
                </div>
            </div>
            <div class="table-row">
                <div>4.</div>
                <div>67</div>
                <div>The year 67 CE (or 67 AD) was during the Roman Empire</div>
                <div>2025-04-30</div>
                <div>
                    <input type="checkbox" name="vehicle2" value="Car">
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="table-pagination-button"><</a>
    <a href="#" class="table-pagination-button">></a>
</div>

