.data-table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 10px;
}

.table-header {
    background-color: #f7fafc;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e2e8f0;
    font-weight: bold;
    color: #2d3748;
}

/* Hialngkan garis table-row yang berada di div table-header */
.table-header .table-row:last-of-type {
    border-bottom: none;
}

.table-row {
    display: grid;
    grid-template-columns: 5vw repeat(3, 1fr) 5vw;
    padding: 15px 20px;
    border-bottom: 1px solid #e2e8f0;
}

.table-row:nth-child(even) {
    background-color: #f7fafc;
}

.checkbox {
    /* masih error */
    border: 0px;
}

.table-pagination-button {
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: #2d3748;
    background-color: #f7fafc;
    cursor: pointer;
    transition: all 0.2s;
}

.table-pagination-button:hover {
    background-color: #4a5568;
    color: white;
}

.delete-button {
    padding: 4px 9px;
    border-radius: 4px;
    border: 1px solid #4a5568;
    background-color: #4a5568;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
}

.delete-button:hover {
    background-color: white;
    color: #4a5568;
}