<!-- Header -->
<header class="header">
    <h2><%= title %></h2>
    <div class="user-info">
      <img src="<%= user.image_link%>" class="user-avatar">
      <span><%= user.name %></span>
    </div>
</header>